.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f4f4;
  text-align: center;

  .sidebar-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .expanded-sidebar {
    }

    .collapsed-sidebar {
      div {
        margin: 0 auto;
      }
    }
  }

  .sidebar-indicator {
    background-color: #d9d9d9;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-size {
      cursor: pointer;
      color: white;
      border-radius: 20px;
    }
  }
}
