<div
  style="height: calc(100vh - 50px)"
  class="sidebar"
  [style.width.px]="isCollapsed ? 80 : 200"
>
  <!-- Div container when sidebar expanded -->
  <div class="sidebar-container">
    <div class="expanded-sidebar" *ngIf="!isCollapsed">
      <div class="centered-content">
        <div>
          <i class="material-icons">chat</i>
        </div>

        <div class="label">Chat</div>
      </div>
      <div class="centered-content">
        <div>
          <i class="material-icons">smart_toy</i>
        </div>

        <div class="label">Bot</div>
      </div>
      <div class="centered-content">
        <div>
          <i class="material-icons">settings</i>
        </div>

        <div class="label">Settings</div>
      </div>
      <div class="centered-content">
        <div>
          <i class="material-icons">library_books</i>
        </div>

        <div class="label">Knowledge</div>
      </div>
    </div>
    <!-- Div container when sidebar not expanded -->
    <div class="collapsed-sidebar" *ngIf="isCollapsed">
      <div><i class="material-icons">chat</i></div>
      <div><i class="material-icons">smart_toy</i></div>
      <div><i class="material-icons">settings</i></div>
      <div><i class="material-icons">library_books</i></div>
    </div>
  </div>
  <div class="sidebar-indicator">
    <ng-container *ngIf="isCollapsed; else expand">
      <i
        (click)="toggle()"
        style="font-size: 20px"
        class="material-icons icon-size"
        >double_arrow</i
      >
    </ng-container>
    <ng-template #expand>
      <i (click)="toggle()" class="material-icons icon-size"
        >keyboard_double_arrow_left</i
      >
    </ng-template>
  </div>
</div>
