<div class="sidebar" [style.width.px]="isCollapsed ? 64 : 250">
  <!-- Div container when sidebar expanded -->
  <div class="sidebar-container">
    <div class="expanded-sidebar" style="width: 100%" *ngIf="!isCollapsed">
      <div style="display: flex; flex-direction: row; padding: 0.8rem">
        <div style="padding-left: 10px">
          <mat-icon>forum</mat-icon>
        </div>
        <div style="padding-left: 10px" class="menu-item-text">Chat</div>
      </div>
      <div style="display: flex; flex-direction: row; padding: 0.8rem">
        <div style="padding-left: 10px">
          <mat-icon>summarize</mat-icon>
        </div>
        <div style="padding-left: 10px" class="menu-item-text">Summary</div>
      </div>
      <div style="display: flex; flex-direction: row; padding: 0.8rem">
        <div style="padding-left: 10px">
          <mat-icon>group</mat-icon>
        </div>
        <div style="padding-left: 10px" class="menu-item-text">
          User Management
        </div>
      </div>
    </div>
    <!-- Div container when sidebar not expanded -->
    <div class="collapsed-sidebar" *ngIf="isCollapsed">
      <div
        style="
          display: flex;
          flex-direction: row;
          padding: 0.8rem;
          margin: 0 auto;
        "
      >
        <div>
          <mat-icon>forum</mat-icon>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; padding: 0.8rem">
        <div>
          <mat-icon>summarize</mat-icon>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; padding: 0.8rem">
        <div>
          <mat-icon>group</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-indicator">
    <ng-container *ngIf="isCollapsed; else expand">
      <i
        (click)="toggle()"
        style="font-size: 20px"
        class="material-icons icon-size"
        >double_arrow</i
      >
    </ng-container>
    <ng-template #expand>
      <i (click)="toggle()" class="material-icons icon-size"
        >keyboard_double_arrow_left</i
      >
    </ng-template>
  </div>
</div>
