<div
  style="height: calc(100vh - 50px)"
  class="sidebar"
  [style.width.px]="isCollapsed ? 70 : 200"
>
  <!-- Div container when sidebar expanded -->
  <div class="sidebar-container" style="text-align: center">
    <div class="expanded-sidebar" *ngIf="!isCollapsed">
      <div
        style="
          background-color: #d9d9d9;
          height: 30px;
          width: 30px;
          border-radius: 10px;
        "
      ></div>
      <div
        style="
          background-color: #d9d9d9;
          height: 30px;
          width: 30px;
          margin-top: 15px;
          border-radius: 10px;
        "
      ></div>
      <div></div>
    </div>
    <!-- Div container when sidebar not expanded -->
    <div class="collapsed-sidebar" *ngIf="isCollapsed">
      <div
        style="
          background-color: #d9d9d9;
          height: 30px;
          width: 30px;
          border-radius: 10px;
        "
      ></div>
      <div
        style="
          background-color: #d9d9d9;
          height: 30px;
          width: 30px;
          margin-top: 15px;
          border-radius: 10px;
        "
      ></div>
    </div>
  </div>
  <div class="sidebar-indicator">
    <ng-container *ngIf="isCollapsed; else expand">
      <i
        (click)="toggle()"
        style="font-size: 20px"
        class="material-icons icon-size"
        >double_arrow</i
      >
    </ng-container>
    <ng-template #expand>
      <i (click)="toggle()" class="material-icons icon-size"
        >keyboard_double_arrow_left</i
      >
    </ng-template>
  </div>
</div>
