.chat {
  display: flex;
  margin: 10px 0;
}

.input-message {
  justify-content: flex-end;
  text-align: right;
}

.response-message {
  justify-content: flex-start;
  text-align: left;
}

div::-webkit-scrollbar {
  width: 5px; /* Set the desired scrollbar width */
}

div::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar color */
}
