<div
  style="
    overflow-y: auto;
    height: calc(100vh - 220px);
    display: flex;
    flex-direction: column-reverse;
    margin: 0px 20px;
  "
>
  <div style="padding: 0px 10px" class="chat-dialog">
    <div
      class="chat"
      *ngFor="let message of messages; let index = index"
      [ngClass]="{
        'input-message': index % 2 === 0,
        'response-message': index % 2 !== 0
      }"
    >
      <div style="display: flex; gap: 5px" class="message-container">
        <!-- Add profile icon here -->
        <div class="profile-icon" *ngIf="index % 2 !== 0">
          <!-- Add your profile icon image or icon element here -->
          <img style="height: 30px; width: 30px" src="../../assets/icon.png" />
        </div>
        <div>
          <div class="message">
            <div style="font-size: small">
              {{ "John Doe " }}{{ day }}{{ " " }}{{ date }}
            </div>
            <div
              [style.float]="index % 2 == 0 ? 'right' : 'none'"
              style="
                background-color: rgb(205, 229, 248);
                width: fit-content;
                padding: 5px 10px;
                border-radius: 5px;
              "
            >
              {{ message }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
