<div class="chat-container" style="display: flex; margin: 0px 0px 20px 20px">
  <input
    type="text"
    placeholder="Type your message"
    style="
      height: 50px;
      width: 100%;
      padding-left: 10px;
      border: 1px solid #ffff;
      border-radius: 5px;
      outline: none; /* Removes the focus on input border */
    "
    [(ngModel)]="message"
    (keyup.enter)="sendMessage()"
  />
  <div
    style="cursor: pointer; display: flex; align-items: center"
    (click)="sendMessage()"
  >
    <!-- Add your profile icon image or icon element here -->
    <div
      style="
        padding: 15px;
        background-color: #d9d9d9;
        border-radius: 10px;
        transform: translateX(-50px);
      "
    ></div>
  </div>
</div>
