<div class="chat-container" style="display: flex; padding: 0px 10px">
  <input
    type="text"
    style="
      height: 35px;
      width: 100%;
      padding-left: 10px;
      border: 1px solid rgb(147, 200, 235);
      border-color: blue;
      border-radius: 5px;
    "
    [(ngModel)]="message"
    placeholder="Type a Message"
    (keyup.enter)="sendMessage()"
  />
  <div
    style="
      margin-left: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
    "
    (click)="sendMessage()"
  >
    <!-- Add your profile icon image or icon element here -->
    <img
      (click)="sendMessage()"
      style="height: 25px; width: 25px; color: white"
      src="../../assets/send.png"
    />
  </div>
</div>
