<div class="container">
  <div class="main-container">
    <div class="left-container">
      <div>Recent Summary Reports</div>
      <div class="reports-container" *ngFor="let item of recentReports">
        <div class="content-container">
          <span class="title">
            {{ item.title }}
          </span>
          <span class="sub-title">
            {{ item.category }}
          </span>
        </div>
        <div>
          <div class="icon" (click)="handleRedirect()"></div>
        </div>
      </div>

      <div class="footer-content">
        <div>View All Summary Reports</div>
      </div>
    </div>
    <div class="right-container">
      <div>Recent Bots</div>
      <div class="reports-container" *ngFor="let item of recentBots">
        <div class="content-container">
          <span class="title">
            {{ item.title }}
          </span>
          <span class="sub-title">
            {{ item.category }}
          </span>
        </div>
        <div>
          <div class="icon" (click)="handleRedirect()"></div>
        </div>
      </div>

      <div class="footer-content">
        <div>View All Bots</div>
      </div>
    </div>
  </div>
</div>
