<div class="main-container">
  <!-- Top Bar -->
  <div class="top-bar">
    <!-- Logo Section-->
    <div class="logo-container">
      <img class="logo" src="../../assets/icon.png" />
    </div>
    <!-- Profile Section-->
    <div class="profile-container">
      <img class="profile" src="../../assets/icon.png" />
      <div class="name-label">M-Bot</div>
    </div>
  </div>
  <div class="content-container">
    <!-- Side Bar -->
    <app-side-bar></app-side-bar>
    <!-- Chat Content -->
    <div class="chat-bot">
      <!-- TODO - Need to show this as a Chat Interface in first Div -->
      <div
        style="
          flex: 6;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        "
      >
        <div style="font-size: 20px; font-weight: 500">
          You're starting a new conversation
        </div>
        <div style="font-size: 16px; margin-top: 1rem">
          Type your first message below.
        </div>
      </div>
      <div style="flex: 1">
        <app-chat-container></app-chat-container>
      </div>
    </div>
  </div>
</div>
