<div class="main-container">
  <!-- Top Bar -->
  <div class="top-bar">
    <!-- Logo Section-->
    <div class="logo-container">
      <img class="logo" src="../../assets/i-india_logo.png" />
    </div>
    <!-- Profile Section-->
    <div class="profile-container">
      <!-- <img class="profile" src="../../assets/icon.png" /> -->
      <div
        style="padding: 15px; background-color: #d9d9d9; border-radius: 10px"
      ></div>
    </div>
  </div>
  <div class="content-container">
    <!-- Side Bar -->
    <app-side-bar></app-side-bar>
    <!-- Chat Content -->
    <router-outlet>
      <app-dashboard></app-dashboard>
    </router-outlet>

    <!-- <div class="chat-bot">
      <div
        style="
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #b3b3b3;
          padding: 10px;
          height: 32px;
        "
      >
        <div style="display: flex; flex-direction: column; color: #676767">
          <span
            style="margin: 0; padding: 0; font-size: 16px; font-weight: 500"
          >
            Introduction to Indian History
          </span>
          <span
            style="font-size: 10px; margin: 0; padding: 0; line-height: 10px"
            >Course/Module/Lesson</span
          >
        </div>
        <div
          style="background-color: #d9d9d9; border-radius: 10px; padding: 15px"
        ></div>
      </div>
      <div>
        <div
          style="
            position: fixed;
            bottom: 0;
            width: calc(100vw - 112px);
            margin-bottom: 20px;
          "
        >
          <app-chat-container></app-chat-container>
        </div>
      </div>
    </div> -->
  </div>
</div>
